/* sliders */
.wrapper{
  display: flex;
}

.wrapper .dynamic-txts{
  margin-left: -10px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #ffffff;
  font-size: 50px;
  font-weight: 800;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}

.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 160px;
  width: 100%;
  background: #1e1e1e;
  /* border-left: 2px solid #FC6D6D; */
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
      
      @keyframes dynamic-text-animation {
        0% {
          width: 0;
        }
        20% {
          width: 100%;
        }
        80% {
          width: 100%;
        }
        100% {
          width: 0;
        }
      }

      
.para{
  width: 100%;
  height: 1px;
}
.heightfor img{
  height: 440px;
  object-fit: cover;
}
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.navicon{
  display: none;
  
}
header{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: 0.5;
  
}
header a .logoHeader{
  position: relative;
  max-width: 80px;
  width: 80px ;
  height: 80px;

  
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header a .logoHeader:hover {
  border-radius: 50%;
  transition: all 0.3s ease;
  animation: spin 2s infinite linear;
  /* animation-play-state: paused; */
}


header ul{
  position: relative;
  display: flex;
}
header ul li{
  list-style: none;
}
header ul li a{
  display: inline-block;
  color: white;
  font-weight: 600;
  margin-left: 40px;
  text-decoration: none;

}
header ul li a:hover{
  color: rgb(9, 185, 255);
}

.signInUp .sign a{
  display: inline-block;
  margin-top: 20px;
  padding: 3px 50px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.signInUp .sign a:hover{

  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  transform: skew(-15deg);
}
@media (max-width: 800px) {
  header{
    position: absolute;
    width: 100%;
    padding: 0 20px;
  
  }
  header ul li a{
    margin: 0 !important;
    text-align: center;
    padding: 10px 50px;
    border-bottom: 2px solid gray;
  
  }
  .signInUp .sign a{
    position: relative;
    left: 0%;
  }
 
  .navUl {
      display: none;
      background-color: rgb(70, 70, 70);
      color: black;
      position: relative;
      left: 37%;
      top: 130px;
      z-index: 3;
      text-align: center;
      padding: 0%;
      margin: 0%;
  }

  header ul li{
    margin: 0%;
padding: 0%;
  }
  .navicon {
      display: block;
      
  }
  .content{
    flex-direction: column;
  }
  header a .logoHeader{
    width: 40px;
    height: 40px;
  }
  

}
@media (max-width: 500px) {
  header{
    position: absolute;
    width: 100%;
    padding: 0 20px;
  
  }
  .navUl {
      display: none;
  }
  header a .logoHeader{
    width: 50px;
    height: 50px;
  }
  .navicon {
      display: block;
      
  }

  header{
    position: fixed;
    width: 100%;
    padding: 10px 20px;
  
  }
  header ul li a{
    margin: 0 !important;
    text-align: center;
    padding: 10px 50px;
    border-bottom: 2px solid gray;
  
  }
  .signInUp .sign a{
    position: relative;
    left: -15px;
  }
 
  .navUl {
      display: none;
      background-color: rgb(70, 70, 70);
      color: black;
      position: relative;
      left: 40%;
      top: 140px;
      z-index: 3;
      text-align: center;
      padding: 0%;
      margin: 0%;
  }
  .dynamic-txts li{
font-size: 30px;
font-weight: 800;
  }
}



.section1{
  z-index: 3;
  position: relative;
  width: 100%;
  padding: 100px 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  transition: 0.5s;
}
.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.content .textbox{
  position: relative;
  max-width: 600px;
}
.content .textbox h2{
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}
.content .textbox h2 span{
  font-size: 2em;
}
.content .textbox p{
color: white;
}
.viewAllProducts{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.viewAllProducts:hover{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  transform: skew(-15deg);
}
.content .imgbox{
  width: 600px;
  display: flex;
  padding-right: 50px;
  justify-content: flex-end;
  margin-top: 50px;
}
.triesTin{
  height: 200px;
  width: 200%;
  margin-top: 100px;
  display: block;
}
.thumb{

  justify-content: center;
  display: flex;
  margin-top: 50px;
}
.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0% 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li img{
  max-width: 50px;

}
.thumb li :hover{
  transform: translateY(-15px);
  transition: 0.5s;
}
.section2{
  width: 100%;
  margin-top: 0% 0%;
}

.section3 .container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
}
.section3 .container #tin{
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px gray;
  flex:  1 1 40rem;
  width: 100%;
  height: 30vh;
  top: 2;
}

.section3 .container #tin img{
  width: 40%;
}
.section3 .container #tin .Content{
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -100%; left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .9);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}
.section3 .container #tin:hover .Content{
  top: 0;
}
.section3 .container .box:hover .content{
  top: 0;
}
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery .box-container .box{
  height: 25rem;
  flex: 1 1 20rem;
  background-color: #ffffff;
  border: 1px solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery .box-container .box .content{
  position: absolute;
  top: 100%; left: 0;
  transition: 0.5s;
  height: 100%;
  width: 100%;
  
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}
.gallery .box-container .box #tin1{
  background: rgba(3, 128, 245, 0.9);
}
.gallery .box-container .box #tin2{
  background: rgba(25, 25, 26, 0.9);
}
.gallery .box-container .box #tin3{
  background: rgba(153, 162, 172, 0.9);
}
.gallery .box-container .box #tin4{
  background: rgba(255, 234, 166, 0.9);
}
.gallery .box-container .box #tin5{
  background: rgba(31, 76, 117, 0.9);
}
.gallery .box-container .box #tin6{
  background: rgba(255, 153, 0, 0.9);
}
.gallery .box-container .box #tin7{
  background: rgba(252, 166, 38, 0.9);
}
.gallery .box-container .box #tin8{
  background: rgba(250, 51, 61, 0.9);
}
.gallery .box-container .box #tin9{
  background: rgba(124, 124, 124, 0.9);
}
.gallery .box-container .box #tin10{
  background: rgba(253, 72, 208, 0.9);
}
.gallery .box-container .box #tin11{
  background: rgba(56, 159, 255, 0.9);
}
.gallery .box-container .box #tin12{
  background: rgba(199, 157, 66, 0.9);
}

.gallery .box-container .box .content h3{
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}



.gallery .box-container .box:hover .content{
  top: 0;
}
.section4 img{
  width: 100%;
  height: 600px;
}
.section5 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.section5 {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #1e1e1e;
  color: white;
}

.sec5left {
  width: 50%;
  height: 600px;
  padding: 10% 5%;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.sec5left h1{
  font-size: 50px;
  font-weight: 900;
}
.sec5left p{
  font-size: 20px;

}

.sec5right {
  width: 50%;
  height: 700px;
  padding: 10% 5%;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.section5.animate .sec5left {
  opacity: 1;
  transform: translateX(0);
}

.section5.animate .sec5right {
  opacity: 1;
  transform: translateX(0);
}


.sec6right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section6{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  color: white; 
}
.sec6right {
  width: 50%;
  height: 600px;
  
}

.sec6left {
  width: 50%;
  height: 700px;
  padding: 10% 5%;

}
.sec6left h1{

  font-size: 100px;
  font-weight: 900;

}
.sec6left h2{
  font-size: 65px;
  font-weight: 900;
}
.sec6left h3{
  font-size: 41px;
  font-weight: 900;
}

.section7 {
  width: 100%;
  height: 700px;
  background-color: #00408a;
  display: flex;
  position: relative;
}

.sec7left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 100%;
  transition: top 1s;
}

.sec7right {
  width: 50%;
  height: 100%;
  padding: 15% 0%;
  padding-right: 10%;
  color: white;
  position: absolute;
  top: 100%;
  right: 0;
  transition: top 1s;
}

.sec7left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sec7right img {
  width: 80%;
  height: 100%;
}

.sec7viewallpro {
  padding-right: 25%;
  text-align: center;
}




/* Footer with media screen*/
.footer{
padding: 25px 0;
  height: 300px;
  width: 100%;
background-image: url(./Images/footer\ back.png);
  display: flex;
}
.footersec img{
  width: 100px;
  height: 100px;
  margin-top: 3%;

}
.footersec a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.footersec{
  width: 25%;
  color: white;
  margin: 3% auto;
  text-align: center;
}


@media  (max-width:800px) {
  .footer{
    padding: 25px 0px;
    height: 300px;
    width: 100%;
    display: flex;
  
  }
  .footersec{
    width: 50%;
    color: white;
    margin: 10% auto;
    text-align: center;
  }
}
@media  (max-width:500px) {
  .footer{
    padding: 50px 0;
    height: 700px;
    width: 100%;
    display: flex;
    flex-flow: column;
 
  }
  .footersec{
    width: 100%;
    color: white;
    margin: 3% auto;
    text-align: center;
  
  }
}






  
@media (max-width: 750px) {

  .navicon {
      display: block;
  }
  .content{
    flex-direction: column;
  }
  .content .imgbox{
    width: 300px;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    margin-top: 50px;
    /* margin: au; */
  }
  .content .textbox{
    position: relative;
    max-width: 600px;
  }
  .content .textbox h2{
    color: white;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
  }
  .content .textbox h2 span{
    font-size: 2em;
  }
  .section4 img {
    width: 100%;
    height: 500px;
}
.section5{
  padding-top: 50px;
  flex-direction: column;
  width: 100%;
 
}
.sec5left {
  width: 100%;
  height: 400px;
  padding: 5% 5%;
}
.sec5left h1{
  font-size: 30px;
  font-weight: 900;
}
.sec5left p{
  font-size: 18px;

}

.sec5right {
  width: 100%;
  height: 400px;
  /* padding: 0 !important; */
  padding: 0% 5%;
  
}
.sec6right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section6{
  flex-direction: column;
  flex-flow: column-reverse;
}
.sec6right {
  width: 100%;
  height: 450px;
  
}

.sec6left {
  width: 100%;
  height: 450px;
  padding: 10% 5%;

}
.sec6left h1{

  font-size: 70px;
  font-weight: 900;

}
.sec6left h2{
  font-size: 40px;
  font-weight: 700;
}
.sec6left h3{
  font-size: 35px;
  font-weight: 800;
}
.section7 {

  display: none;
}




.sec7right img {
  width: 80%;
  height: 100%;
}

.sec7viewallpro {
  padding-right: 25%;
  text-align: center;
}
}
@media (max-width: 400px) {
  
  .content{
    flex-direction: column;
  }
  .content .imgbox{
    width: 100%;
    display: flex;
    /* padding-left: 50px; */
    /* padding-right: 0px; */
    /* justify-content: flex-end; */
    margin-top: 50px;
    /* margin: auto; */
  }
  .content .textbox{
    position: relative;
    max-width: 600px;
  }
  .content .textbox h2{
    color: white;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .content .textbox h2 span{
    font-size: 2em;
  }
}




/* about us ki css */
/* .carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
}
 */
































